.container-detail{
    display: flex;
    flex-direction: row;
    background-color: #c0b669;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    width: auto;
}

.image-container {
    width: 40%;
    float: left;
    margin-right: 1rem;
  }
  
.image-container img {
    width: 100%;
    height: auto;
}

.text-container {
    width: 60%;
    float: left;
}

.text-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-container p {
    font-size: 1.2rem;
    line-height: 1.5;
}