.section-generic {
    margin-bottom: 2rem;
}

.section-generic-zone .list {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.section-generic-zone .list.card-small {
    grid-template-columns: repeat(2, 1fr);
}

.section-generic-zone .list.card-big {
    grid-template-columns: repeat(1, minmax(50px, 1fr));
}